<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>New Club</title>
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <section layout:fragment="body" class="">
        <div class="container px-5 my-5">
          <form
            role="form"
            method="post"
            th:action="@{/clubs/new}"
            th:object="${club}"
          >
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                th:field="*{title}"
                placeholder="Title"
              />
              <label for="photoUrl" class="form-label">Photo URL</label>
              <input
                type="text"
                class="form-control"
                id="photoUrl"
                th:field="*{photoUrl}"
                placeholder="Photo URL"
              />
              <label for="content" class="form-label">Content</label>
              <input
                type="text"
                class="form-control"
                id="content"
                th:field="*{content}"
                placeholder="Content"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
