<!DOCTYPE html>
<html
  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <section layout:fragment="body" class="">
      <div class="row justify-content-center w-100" style="padding-top: 3rem">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card">
              <div class="card-body">
                <div
                  th:if="${param.error}"
                  class="alert customize-alert alert-dismissible border-danger text-danger fade show remove-close-icon"
                  role="alert"
                >
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                  <div class="d-flex align-items-center me-3 me-md-0">
                    <i class="ti ti-info-circle fs-5 me-2 text-danger"></i>
                    Invalid username or password.
                  </div>
                </div>
                <div
                  th:if="${param.logout}"
                  class="alert customize-alert alert-dismissible border-secondary text-secondary fade show remove-close-icon"
                  role="alert"
                >
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                  <div class="d-flex align-items-center me-3 me-md-0">
                    <i class="ti ti-info-circle fs-5 me-2 text-secondary"></i>
                    You have been logged out.
                  </div>
                </div>
                <h3 class="lh-base text-center">
                  Welcome Back
                  <br />
                  <span class="h6 text-muted">Sign In Your Account</span>
                </h3>
                <form role="form" method="post" th:action="@{/login}">
                  <div class="form-floating mb-3">
                    <input
                      id="username"
                      name="username"
                      type="text"
                      class="form-control border border-info"
                      placeholder="Username"
                    />
                    <label>
                      <span>Username</span>
                    </label>
                  </div>

                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      name="password"
                      class="form-control border border-info"
                      placeholder="Password"
                      id="password"
                    />
                    <label>
                      <span>Password</span>
                    </label>
                  </div>
                  <div class="form-check mt-3">
                    <input
                    type="checkbox"
                    class="form-check-input"
                    id="sf2"
                      value="check"
                    />
                    <label class="form-check-label" for="sf2"
                    >Remember Me</label
                    >
                  </div>
                  <div class="text-center mt-3">

                    <div class="form-actions center">
                      <div class="card-body border-top">
                        <!-- <button
                        class="btn btn-primary"
                        th:href="@{/register}"
                          type="submit"
                        >
                          Register
                        </button> -->
                        <p>
                          Don’t have an account yet?
                          <a
                            class="h6 link-offset-2 text-success"
                            th:href="@{/register}"
                            style="text-decoration: none"
                            >Create an accout</a
                          >
                        </p>

                        <button type="submit" class="btn btn-info">
                          Login
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
