<!DOCTYPE html>
<html
  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <section layout:fragment="body" class="">
      <div class="row justify-content-center w-100" style="padding-top: 3rem">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card">
              <div class="card-body">
                <div
                  th:if="${param.error}"
                  class="alert customize-alert alert-dismissible border-danger text-danger fade show remove-close-icon"
                  role="alert"
                >
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                  <div class="d-flex align-items-center me-3 me-md-0">
                    <i class="ti ti-info-circle fs-5 me-2 text-danger"></i>
                    Username or email already exists.
                  </div>
                </div>
                <h3 class="lh-base text-center">
                  Welcome
                  <br />
                  <span class="h6 text-muted">Sign Up Your Admin Account</span>
                </h3>

                <form
                  role="form"
                  method="post"
                  th:action="@{/register/save}"
                  th:object="${user}"
                >
                  <div class="form-floating mb-3">
                    <input
                      name="username"
                      class="form-control border border-info"
                      type="text"
                      id="username"
                      th:field="*{username}"
                      placeholder="Username"
                    />
                    <label>
                      <span>Username</span>
                    </label>
                    <p
                      th:if="${#fields.hasErrors('username')}"
                      class="text-danger"
                      th:errors="*{username}"
                    ></p>
                  </div>

                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      name="password"
                      class="form-control border border-info"
                      id="password"
                      th:field="*{password}"
                      placeholder="Password"
                    />
                    <label>
                      <span>Password</span>
                    </label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      id="email"
                      name="email"
                      class="form-control border border-info"
                      th:field="*{email}"
                      placeholder="Email"
                    />
                    <label>
                      <span>Email</span>
                    </label>
                    <p
                      th:if="${#fields.hasErrors('email')}"
                      class="text-danger"
                      th:errors="*{email}"
                    ></p>
                  </div>
                  <div class="text-center mt-3">
                    <!-- <div class="form-check">
                      <input
                      type="checkbox"
                      class="form-check-input"
                      id="sf2"
                        value="check"
                      />
                      <label class="form-check-label" for="sf2"
                      >Remember Me</label
                      >
                    </div> -->

                    <div class="form-actions center">
                      <div class="card-body border-top">
                        <p>
                          Already have an Account?
                          <a
                            class="h6 link-offset-2 text-success"
                            th:href="@{/login}"
                            style="text-decoration: none"
                            >Sign in now</a
                          >
                        </p>
                        </a>
                        <button type="submit" class="btn btn-info">
                          Register
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
